$dark: #222;
$dark-half: rgba(34,34,34,.5);
$light: rgba(245,241,226,1);
$secondary: rgb(11,181,255);
$secondary-half: rgba(11,181,255,.5);
$highlight: #82b440;
$primary: rgba(94,45,121,1);
$primary-half: rgba(94,45,121,5);
