*,
a,
body,
html {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #222; }

body,
html {
  background-color: #f5f1e2; }
  body footer,
  body section,
  html footer,
  html section {
    overflow: hidden; }
    body footer article,
    body section article,
    html footer article,
    html section article {
      padding: 10% 5%; }
  body header h1,
  html header h1 {
    margin-bottom: 0;
    padding-bottom: 0; }
  body li,
  html li {
    list-style-type: none; }

.center, section#blog article, section#disc article, nav.landing span.menu, section#experience article, section#portfolio article, footer#shoes article, section#explore article {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center; }

h1,
h2,
h3,
h4,
h5 {
  text-transform: lowercase; }

h1 {
  font-size: 2.4em;
  padding-top: 3%;
  padding-bottom: 3%; }

h2 {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 1.8em; }

h3 {
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 5px; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.8em; }

li,
p {
  font-size: 0.9em;
  line-height: 24px; }

article a {
  border-bottom: 2px #82b440 solid; }

.off-top, nav.landing.close span.menu {
  margin-top: -1000px; }

a:hover,
button:hover {
  border: 3px solid #82b440 !important; }

section#about {
  padding-top: 60px;
  background-color: #222; }
  section#about article h1, section#about article h2, section#about article h3, section#about article h4, section#about article h5, section#about article p, section#about article em, section#about article span, section#about article figcaption {
    color: #f5f1e2; }

section#disc {
  background-color: #222;
  clear: both; }
  section#disc article em,
  section#disc article h1,
  section#disc article h2,
  section#disc article h3,
  section#disc article h5,
  section#disc article p {
    color: #f5f1e2; }

nav.landing {
  background: transparent;
  position: fixed;
  top: 0;
  height: auto;
  width: 100%;
  padding-bottom: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 100; }
  nav.landing.close {
    height: auto; }
    nav.landing.close h1 {
      margin-top: 0; }
  nav.landing button.menu {
    z-index: 1000; }
  nav.landing h1 {
    cursor: hand;
    z-index: 1000;
    letter-spacing: 5px;
    font-weight: 200;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    color: #f5f1e2;
    vertical-align: center !important;
    background-color: rgba(11, 181, 255, 0.8) !important; }
  nav.landing span.menu {
    padding: 10px;
    background-color: rgba(34, 34, 34, 0.8);
    z-index: 1000;
    width: 100%; }
    nav.landing span.menu a {
      height: 50px;
      color: #f5f1e2;
      padding: 10px; }
      nav.landing span.menu a:hover {
        color: #82b440;
        margin: -3px; }
  @media screen and (max-width: 767px) {
    nav.landing {
      height: 100%; }
      nav.landing.close span.menu #close-icon {
        position: fixed !important;
        top: 0;
        left: 0; }
      nav.landing h1 {
        font-size: 1.6em; }
      nav.landing span.menu a {
        display: block;
        width: auto !important;
        margin: 5px auto; }
        nav.landing span.menu a:hover {
          margin-top: 2px;
          margin-bottom: 8px; } }
  nav.landing * {
    margin: 0;
    padding: 0; }
  nav.landing #close-icon {
    width: 100%;
    height: 100px; }
    nav.landing #close-icon span:nth-child(1) {
      top: 0; }
    nav.landing #close-icon span:nth-child(2),
    nav.landing #close-icon span:nth-child(3) {
      top: 18px; }
    nav.landing #close-icon span:nth-child(4) {
      top: 36px; }
    nav.landing #close-icon.open span:nth-child(1) {
      top: 18px;
      width: 0;
      left: 50%; }
    nav.landing #close-icon.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    nav.landing #close-icon.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    nav.landing #close-icon.open span:nth-child(4) {
      top: 18px;
      width: 0;
      left: 50%; }
  nav.landing #close-icon {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 20px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer; }
  nav.landing #close-icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #5e2d79;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }
  nav.landing * {
    box-sizing: border-box; }
  nav.landing body {
    margin: 0; }

section#projects {
  background-color: #0bb5ff; }
  section#projects article p, section#projects article em, section#projects article .light {
    color: #f5f1e2; }
  section#projects article .portfolio-img {
    width: 20%;
    min-width: 100px;
    height: auto;
    border-radius: 20px;
    margin: 5px; }
  section#projects article .img-group {
    width: 100%;
    text-align: center;
    margin: 0 auto; }

section#portfolio article .portfolio-img {
  width: 20%;
  min-width: 100px;
  height: auto;
  border-radius: 20px;
  margin: 5px; }

section#portfolio article .img-group {
  width: 100%;
  text-align: center;
  margin: 0 auto; }

section#volleyball {
  background: url("../resources/banner.jpg");
  background-size: cover;
  background-position: 0 0;
  clear: both;
  height: auto; }
  section#volleyball article {
    background-color: #5e2d79; }
    section#volleyball article em,
    section#volleyball article figcaption,
    section#volleyball article h1,
    section#volleyball article h2,
    section#volleyball article h3,
    section#volleyball article h4,
    section#volleyball article p,
    section#volleyball article span {
      color: #f5f1e2 !important; }
    section#volleyball article section.gallery {
      clear: both;
      margin: 0;
      padding: 0; }
      section#volleyball article section.gallery figure {
        z-index: 1;
        position: relative;
        float: left;
        margin: 10px 0;
        width: 720px;
        max-width: 100%;
        height: 420px; }
      section#volleyball article section.gallery figure img {
        width: auto;
        margin: 0 auto;
        text-align: center;
        height: 420px;
        left: 0; }
      section#volleyball article section.gallery figcaption {
        text-align: center;
        font-size: 0.7em;
        font-style: italic; }
      section#volleyball article section.gallery iframe {
        height: 100%;
        width: 100%; }
      section#volleyball article section.gallery object {
        width: 100%;
        height: 100%; }
  @media screen and (max-width: 767px) {
    section#volleyball section.gallery {
      width: 100%; }
      section#volleyball section.gallery figure {
        clear: both; } }

footer#shoes {
  background-color: #0bb5ff; }
  footer#shoes article .github {
    background-image: url("../../../resources/images/github-purp.png"); }

section#explore {
  background-color: #82b440; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.0.3");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.0.3") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.0.3") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

*, body {
  font-family: -apple-system, "Helvetica Neue", "Roboto", sans-serif; }
